<div *ngIf="!this.isLoggedIn" class="container">
  <fieldset>
    <form
      class="row d-flex justify-content-center"
      [formGroup]="loginForm"
      (ngSubmit)="doLogin()"
    >
      <!-- USERNAME -->
      <!-- ===================================================== -->
      <div class="col-3 mt-5 text-center form-group">
        <label for="login-username" class="form-label">Username</label>
        <div class="w-100"></div>
        <input
          id="login-username"
          type="text"
          formControlName="username"
          class="form-control"
        />

        <span
          *ngIf="this.loginForm.get('username')?.errors?.['required'] &&
                             this.loginForm.get('username')?.touched"
        >
          Username field is empty.
        </span>
      </div>

      <div class="w-100"></div>

      <!-- Password -->
      <!-- ===================================================== -->
      <div class="col-3 mt-3 text-center form-group">
        <label for="login-password" class="form-label">Password</label>
        <div class="w-100"></div>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          value="this.getLocalStorageValue('loginPassword')"
        />
        <span
          *ngIf="this.loginForm.get('password')?.errors?.['required'] &&
                            this.loginForm.get('password')?.touched"
        >
          Password cannot be empty.
        </span>
      </div>

      <div class="w-100"></div>

      <div class="col-5 my-3 text-center">
        <button
          class="btn btn-m btn-info"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          LOGIN
        </button>
      </div>
    </form>
  </fieldset>
</div>

<div class="text-center" *ngIf="this.validationErrorMessage">
  <p class="text-danger" style="font-size: 2rem;">{{ this.validationErrorMessage }}</p>
</div>

