thead {
    background-color: #8b7c7b;
}

tbody {
    background-color: #DEDDE3;
}

thead > tr > th {
    border: 1px solid #b3b2b2;
}

tr {
    border-bottom: 1px solid #9b9b9b;
}

#success-deletion-message {
    color: #00D100;
}

#failed-deletion-message {
    color: #D10000;
}
