<div class="container">
  <div class="row justify-content-center">
    <form class="col-6" [formGroup]="sequenceManageForm">
      <fieldset>
        <div *ngIf="this.isModifyFileMode; else modifyLegend">
          <div class="my-3">
            <h3>Modify sequence file</h3>
          </div>
          <h4 *ngIf="this.modificationResult" class="success-msg">
            Successful update!
          </h4>
          <h4 *ngIf="this.modificationResult === false" class="failed-msg">
            Failed to update!
          </h4>
        </div>

        <ng-template #modifyLegend>
          <div class="my-3">
            <h3>Upload sequence files</h3>
            <small><i>* You can upload files in batches, but only to one corresponding species and gene at a time.</i></small>
          </div>
        </ng-template>

        <!-- TAX. ID -->
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-3"
            >Taxonomy ID</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="taxonomyID"
          />
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('taxonomyID')?.errors?.['required'] &&
                             this.sequenceManageForm.get('taxonomyID')?.touched"
          >
            Taxonomy ID field cannot be empty.
          </span>
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('taxonomyID')?.errors?.['min'] &&
                             this.sequenceManageForm.get('taxonomyID')?.touched"
          >
            Taxonomy ID value cannot be less than 1.
          </span>
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('taxonomyID')?.errors?.['max'] &&
                             this.sequenceManageForm.get('taxonomyID')?.touched"
          >
            Taxonomy ID value is too big.
          </span>
        </div>
        <!-- END: TAX. ID -->

        <!-- Gene identifier -->
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-3"
            >Gene name / Gene ID</label
          >
          <input type="text" class="form-control" formControlName="geneID" />
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('geneID')?.errors?.['required'] &&
                             this.sequenceManageForm.get('geneID')?.touched"
          >
            Gene identifier field cannot be empty.
          </span>
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('geneID')?.errors?.['maxlength'] &&
                             this.sequenceManageForm.get('geneID')?.touched"
          >
            Gene identifier is too long.
          </span>
        </div>
        <!-- END: Gene identifier -->

        <!-- DESCRIPTION -->
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-3"
            >Description</label
          >
          <textarea
            class="form-control"
            formControlName="description"
            rows="4"
            cols="50"
            placeholder="Describe your batch of files."
          >
          </textarea>
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('description')?.errors?.['required'] &&
                             this.sequenceManageForm.get('description')?.touched"
            class="text-danger"
          >
            Description field cannot be empty.
          </span>
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('geneID')?.errors?.['maxlength'] &&
                             this.sequenceManageForm.get('geneID')?.touched"
            class="text-danger"
          >
            Description is too long. Maximum 200 characters are permitted.
          </span>
        </div>
        <!-- END: DESCRIPTION -->

        <!-- FILE UPLOAD -->
        <div *ngIf="isModifyFileMode === false" class="form-group">
          <label for="formFile" class="form-label mt-4">Select files.</label>
          <input
            id="formFile"
            formControlName="files"
            class="form-control"
            type="file"
            multiple
            (change)="onFileSelected($event)"
          />
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('files')?.errors?.['required'] &&
                             this.sequenceManageForm.get('files')?.touched"
          >
            No files are selected.
          </span>
          <span
            class="text-danger"
            *ngIf="this.sequenceManageForm.get('files')?.errors?.['invalidFileExtension'] &&
                             this.sequenceManageForm.get('files')?.touched"
          >
            The listed files contain invalid files. All files must be a valid
            sequence format. Such as, .fasta, .fastq, .gb, etc..
          </span>
        </div>
        <!-- END: FILE UPLOAD -->

        <button
          *ngIf="isModifyFileMode"
          type="submit"
          [disabled]="sequenceManageForm.invalid"
          (click)="modifySequenceFiles()"
          class="btn btn-primary my-3"
        >
          Modify
        </button>
        <button
          *ngIf="isModifyFileMode === false"
          type="submit"
          [disabled]="sequenceManageForm.invalid"
          (click)="uploadSequenceFiles()"
          class="btn btn-primary my-3"
        >
          Upload
        </button>
      </fieldset>

      <!-- Progress bars. -->
      <div>
        <h3 *ngIf="uploadSuccess === true" class="text-success">
          Successfully uploaded files!
        </h3>
        <h3 *ngIf="uploadSuccess === false" class="text-danger">
          {{ errorMessage }}
        </h3>

        <div *ngFor="let progressInfo of progressInfos" class="my-3">
          <p>{{ progressInfo.fileName }}</p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped"
              role="progressbar"
              [ngStyle]="{ width: progressInfo.value + '%' }"
              attr.aria-valuenow="{{ progressInfo.value }}"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ progressInfo.value }}
            </div>
          </div>
        </div>
      </div>
      <!-- END: Progress bars. -->
    </form>
  </div>
</div>
