<div class="container">

    <div class="row my-3">
        <h3 class="text-center">Users</h3>
    </div>

    <div class="row">

        <h3 *ngIf="getUserDeletionStatus()" class="text-center" id="success-deletion-message">User "{{ recentlyDeletedUser }}" has successfully been deleted. </h3>
        <h3 *ngIf="getUserDeletionStatus() === false" class="text-center" id="failed-deletion-message">Failed to delete "{{ recentlyDeletedUser }}".<br> Something went wrong.</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Role</th>
              <th scope="col">Password</th>
              <th scope="col">E-mail</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Registration date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of this.allUsersArr" scope="row">
              <th scope="row">{{ user.id}}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.role}}</td>
              <td>{{ user.password}}</td>
              <td>{{ user.email}}</td>
              <td>{{ user.firstName}}</td>
              <td>{{ user.lastName}}</td>
              <td>{{ user.registrationDate.toLocaleDateString()}}</td>
              <td>
                  <div class="d-flex justify-content-around">
                      <button type="button"
                              class="btn btn-primary"
                              (click)="goToUserManage(user.id)"
                      >
                        Modify
                      </button>

                      <button type="button"
                              class="btn btn-danger"
                              (click)="requireConfirmation(user.id, user.username)"
                      >
                        Delete
                      </button>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>


