<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <div class="col-4 d-flex justify-content-center">
      <a class="navbar-brand" href="#"
        ><img src="/assets/images/SeqMine-logo.png" alt="Site logo"
      /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-5 collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/home"
            routerLinkActive="active"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about-seq-mine"
            routerLinkActive="active"
          >
            SeqMine
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about-members"
            routerLinkActive="active"
            >Members</a
          >
        </li>
        <li *ngIf="this.userData.role === 'admin'" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Users</a
          >
          <div class="dropdown-menu">
            <a
              class="dropdown-item"
              routerLink="/user-table"
              routerLinkActive="active"
              >Users table</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              routerLink="/user-add"
              routerLinkActive="active"
              >Create user</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Sequences</a
          >
          <div class="dropdown-menu">
            <a
              class="dropdown-item"
              routerLink="/file-storage-table"
              routerLinkActive="active"
              >Sequence storage</a
            >
            <div class="dropdown-divider"></div>
            <a
              *ngIf="['admin', 'investigator'].includes(this.userData.role)"
              class="dropdown-item"
              routerLink="/file-storage-manage"
              routerLinkActive="active"
              >Upload sequences</a
            >
          </div>
        </li>
        <li *ngIf="!this.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Register</a
          >
        </li>
        <li *ngIf="!this.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Log in</a
          >
        </li>
        <li *ngIf="this.isLoggedIn" class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Log out</a>
        </li>
      </ul>

      <!-- Logged in user tag -->
      <div
        *ngIf="this.isLoggedIn"
        class="d-flex align-items-center mx-5"
        id="logged-in-profile-tag"
      >
        <p class="m-0">
          <img
            src="/assets/images/anonymous-user-img.png"
            alt="User profile picture"
          />
        </p>
        <div>
          <p class="m-0">{{ this.userData.username }}</p>
          <p class="m-0">{{ this.userData.role }}</p>
        </div>
      </div>
      <!-- END: Logged in user tag -->
    </div>
  </div>
</nav>
